<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bug Tracker</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*User.Identity.IsAuthenticated &&*@
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bug Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Top Menu Items -->

            <ul class="nav navbar-right top-nav"></ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li class="active">
                        <a href="@Url.Action("Index","Home")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-ticket"></i> Demo Login <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="@Url.Action("DemoAdmin","Account")">Admin</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DemoProjectManager","Account")">Project Manager</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DemoDeveloper","Account")">Developer</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DemoSubmitter","Account")">Submitter</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Index", "ApplicationUsers")"><i class="fa fa-fw fa-male"></i> Change Roles</a>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-ticket"></i> Projects <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo2" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index","Projects")">All Projects</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AssignedProject","Projects")">My Projects </a>
                                </li>
                            </ul>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("ProjectManager"))
                        {
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-ticket"></i> Projects <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo1" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index","Projects")">All Projects</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AssignedProject","Projects")">My Projects </a>
                                </li>
                            </ul>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
                        {
                            <a href="@Url.Action("AssignedProject","Projects")"><i class="fa fa-fw fa-archive"></i>My Projects</a>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Submitter"))
                        {
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-ticket"></i> Tickets <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo3" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index","Tickets")">All Tickets</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SubmitterTicket","Tickets")">All Tickets which I own </a>
                                </li>
                            </ul>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("AdminTicket", "Tickets")"><i class="fa fa-fw fa-ticket"></i> Tickets</a>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("ProjectManager"))
                        {
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo4"><i class="fa fa-fw fa-ticket"></i> Tickets <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo4" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index","Tickets")">All Tickets</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AssignedProjectTicket","Tickets")">All tickets assigned to my projects </a>
                                </li>
                            </ul>
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Developer"))
                        {
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo5"><i class="fa fa-fw fa-ticket"></i> Tickets <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo5" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index","Tickets")">All Tickets</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AssignedProjectTicket","Tickets")">All tickets assigned to my projects </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("DeveloperTicket","Tickets")">All tickets assigned to me</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    @*<script src="~/Scripts/plugins/morris/raphael.min.js"></script>
        <script src="~/Scripts/plugins/morris/morris.min.js"></script>
        <script src="~/Scripts/plugins/morris/morris-data.js"></script>*@

    <!-- Datatables JavaScript -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>